<div class="hbox hbox-auto-sm bg-white"
     ng-controller="PasswordController">
  <div style="height:50px"></div>
  <div class="m-b-lg m-t-xl text-center">
    <form name="form" class="form-validation" ng-hide="!stepShow[0]">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <span class="h4">修 改 密 码</span>
        </div>
        <div class="col-sm-8 col-xs-8">
          <div class="panel-body">
            <div class="col-sm-7 col-xs-7 col-sm-offset-5 col-xs-offset-5">
              <div class="form-group clearfix ">
                <div class="col-sm-5 col-xs-4">
                  <label>原始密码：</label>
                </div>
                <div class="col-sm-6 col-xs-8">
                  <input type="password" class="form-control inline" name="oldPassword" ng-model="oldPassword" required>
                </div>
              </div>
              <div class="form-group clearfix">
                <div class="col-sm-5 col-xs-4">
                  <label>新密码：</label>
                </div>
                <div class="col-sm-6 col-xs-8">
                  <input type="password"
                         class="form-control inline"
                         name="newPassword"
                         ng-model="newPassword"
                         minlength="6"
                         maxlength="20"
                         required>
                  <span ng-show='form.newPassword.$dirty && form.newPassword.$invalid'>6~20位数字或字符组成</span>
                </div>
              </div>
              <div class="form-group clearfix">
                <div class="col-sm-5 col-xs-4">
                  <label>确认密码：</label>
                </div>
                <div class="col-sm-6 col-xs-8">
                  <input type="password"
                         class="form-control inline"
                         name="confirmNewPassword"
                         required
                         ng-model="confirmNewPassword"
                         ui-validate="'$value==newPassword' "
                         ui-validate-watch=" 'newPassword' ">
                </div>
              </div>
            </div>
          </div>

          <footer class="panel-footer bg-light lter text-center col-sm-offset-6 col-xs-offset-6">
            <button type="submit"
                    class="btn btn-bl"
                    ng-disabled='form.$invalid'
                    ng-click="changePassword(newPassword,form.$invalid)"
                >确 认
            </button>
            <button type="submit"
                    class="btn btn-default m-l-lg"
                    ui-sref="app.modifyInfo"
                >取 消
            </button>
          </footer>
        </div>
        </div>
    </form>
    <div ng-hide="!stepShow[1]">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group pull-in clearfix wrapper">
            <div class="col-sm-12 text-center m-t-xs">
              <label class="h3">修改成功，请重新登录！</label>
            </div>
          </div>
        </div>
        <footer class="panel-footer text-center bg-light lter">
          <a class="btn btn-success"
             ng-click="dataTool.delete('access_info')"
             ui-sref="access.login"
              >重 新 登 录
          </a>
        </footer>
      </div>
    </div>
  </div>
</div>